BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: true
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: false
AlignTrailingComments: true
SpaceAfterCStyleCast: false
PointerAlignment: Right
SortIncludes: false
